.content{

  h1{
    font-size: 32px;
    font-weight: 700;

  }
}
.header{
  display: flex;
  margin: 40px 0 0 0;
  justify-content: space-between;
}
.body{
  display: flex;
  flex-wrap: wrap;
}

.menu{
  padding: 14px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search{
  display: flex;
  border: 1px solid #f3f3f3;
  align-items: center;
  padding: 13px 50px 13px 20px;
  border-radius: 10px;
  img{
    padding: 0 10px 0 0;
  }
}
