
.cartItem{
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 20px;
  margin: 0 0 20px 0;
  img{
    width: 70px;
    height: 70px;
    margin: 0 20px 0 0;
  }
  p{
    margin: 0 0 5px 0;
    font-size: 16px;
  }
  b{
    font-size: 13px;
  }

    img{
      width: 33px;
      height: 33px;
      opacity: 0.5;
      &:hover{
        opacity: 1;
      }


  }
}
.tovar{
  margin: 0 20px 0 0;
}
.sneakers{
  display: flex;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  background-size: contain;
  background-position: 0 14px;
  margin: 0 20px 0 0;
}
